.chat-holder {
    --chat-bg: linear-gradient(135deg, #c3cfe2 0%, #f5f7fa 100%);
    --border: 2px solid #ddd;
    --left-msg-bg: #ececec;
    --right-msg-bg: #579ffb;
}

.chat-holder {
    box-sizing: border-box;
}


.chat-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    font-family: Helvetica, sans-serif;
}

.chat {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 867px;
    margin: 25px 10px;
    height: calc(100% - 50px);
    border: var(--border);
    border-radius: 5px;
    background: var(--chat-bg);
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}

.chat-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: var(--border);
    background: #eee;
    color: #666;
}

.chat-chat {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}
.chat-chat::-webkit-scrollbar {
    width: 6px;
}
.chat-chat::-webkit-scrollbar-track {
    background: #ddd;
}
.chat-chat::-webkit-scrollbar-thumb {
    background: #bdbdbd;
}
.msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}
.msg:last-of-type {
    margin: 0;
}
.msg-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: #ddd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}
.msg-bubble {
    max-width: 450px;
    padding: 15px;
    border-radius: 15px;
    background: var(--left-msg-bg);
}
.msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.msg-info-name {
    margin-right: 10px;
    font-weight: bold;
}
.msg-info-time {
    font-size: 0.85em;
}

.left-msg .msg-bubble {
    border-bottom-left-radius: 0;
}

.right-msg {
    flex-direction: row-reverse;
}
.right-msg .msg-bubble {
    background: var(--right-msg-bg);
    color: #fff;
    border-bottom-right-radius: 0;
}
.right-msg .msg-img {
    margin: 0 0 0 10px;
}

.chat-inputarea {
    display: flex;
    padding: 10px;
    border-top: var(--border);
    background: #eee;
}
.chat-inputarea * {
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 1em;
}
.chat-input {
    flex: 1;
    background: #ddd;
}
.chat-send-btn {
    margin-left: 10px;
    background: rgb(0, 196, 65);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.23s;
}
.chat-send-btn:hover {
    background: rgb(0, 180, 50);
}
